In [4]:
#keyword
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [6]:
#keyword.iskeyword('try')
keyword.iskeyword('jenny')

False

In [47]:
#identifier
name='jenny'
my_identifier=name
print(name)

jenny

In [6]:
#variables
s=10
print(s)

10

In [8]:
#global variables
a=10
def function():
    global a
    a += 10
    print(a)
print (a)
function()

10
20

In [7]:
#list
my_list = ["CSK","RSM","MI","CSK","RSM","MI"]
#print(my_list)
#len(my_list)
print(len(my_list))

6

In [13]:
#multiple datatype in list
list1 = ["india","australia","england"]
list2 = [1,2,3,4,5]
list3 = [True,False]
print(list1,list2,list3)

['india', 'australia', 'england'] [1, 2, 3, 4, 5] [True, False]

In [28]:
list1 = ["india","australia","england",1,2,3,4,5,"male","female"]
print(list1)

['india', 'australia', 'england', 1, 2, 3, 4, 5, 'male', 'female']

In [32]:
#tuple
tuple1 = ("india","australia","england",1,2,3,4,5,"male","female",8,9)
print(tuple1)

('india', 'australia', 'england', 1, 2, 3, 4, 5, 'male', 'female', 8, 9)

In [9]:
my_tuple1 = ("india","CSK","RSM","MI","CSK","RSM","MI")
#print(my_tuple1)
print(len(my_tuple1))

7

In [27]:
#set
set1 = {"CSK","RSM","MI","CSK","RSM","MI",11,2,3,True,False,"Male","Female"}
print(set1)

{False, True, 2, 3, 'RSM', 11, 'Male', 'MI', 'Female', 'CSK'}

In [46]:
#string
string1 = "{1} {0} {2}".format('Welcome','to','UST')
print('nPositional order: ')
print(string1)

nPositional order:
to Welcome UST

In [3]:
#int to float
A = 10
B= float(A)
print(B)

10.0

In [4]:
#float to int
A = 10.0
B= int(A)
print(B)

10

In [3]:
a = [1,2,3,4,5,6]
#a.remove(2)
sum(a)
#print(a)

21

In [49]:
list1 = ["a","b","c","b","c","a","c","a"]
b = list(dict.fromkeys(list1))
print(b)

['a', 'b', 'c']

In [33]:
#range
mylist = ["aa","xx","ww","bb","vv"]
print(mylist[2:4])

['ww', 'bb']

In [20]:
mylist = ["aa","xx","ww","bb","vv"]
print(mylist[:4])

['aa', 'xx', 'ww', 'bb']

In [1]:
# negative indexing
mylist = ["aa","xx","ww","bb","vv"]
print(mylist[:-1])

['aa', 'xx', 'ww', 'bb']

In [41]:
mylist = ["aa","xx","ww","bb","vv"]
print(mylist[2:])

['ww', 'bb', 'vv']

In [39]:
mylist = ["aa","xx","ww","bb","vv","qq","ee"]
print(mylist[-5:-2])

['ww', 'bb', 'vv']

In [26]:
mylist = ["aa","xx","ww","bb","vv"]
if "xx" in mylist:
    print("xx in mylist")

xx in mylist

In [29]:
mylist = ["aa","xx","ww","bb","vv"]
if "ind" in mylist:
    print("ind in mylist")

In [30]:
mylist = ["aa","xx","ww","bb","vv"]
mylist[2] = "ind"
print(mylist)

['aa', 'xx', 'ind', 'bb', 'vv']

In [31]:
mylist = ["aa","xx","ww","bb","vv"]
mylist[1:2] = ["ind","eng"]
print(mylist)

['aa', 'ind', 'eng', 'ww', 'bb', 'vv']

In [169]:
#insert
mylist = ["aa","xx","ww","bb","vv"]
mylist.insert(2,"ind")
print(mylist)

['aa', 'xx', 'ind', 'ww', 'bb', 'vv']

In [164]:
mylist = ["aa","xx","ww","bb","vv"]
mylist.append("ind")
print(mylist)

['aa', 'xx', 'ww', 'bb', 'vv', 'ind']

In [161]:
mylist1 = ["python","java","php"]
mylist2 = ["dotnet","c++","c"]
mylist1.extend(mylist2)
print(mylist1)

['python', 'java', 'php', 'dotnet', 'c++', 'c']

In [35]:
mylist = ["aa","xx","ww","bb","vv"]
mylist.remove("xx")
print(mylist)

['aa', 'ww', 'bb', 'vv']

In [38]:
mylist = ["aa","xx","ww","bb","vv"]
mylist.pop(1)
print(mylist)

['aa', 'ww', 'bb', 'vv']

In [153]:
mylist = ["aa","xx","ww","bb","vv"]
mylist.pop()
print(mylist)

['aa', 'xx', 'ww', 'bb']

In [65]:
mylist = ["aa","xx","ww","bb","vv"]
del mylist[0]
print(mylist)

['xx', 'ww', 'bb', 'vv']

In [ ]:
mylist = ["aa","xx","ww","bb","vv"]
mylist.clear()
print(mylist)

In [44]:
mylist = ["aa","xx","ww","bb","vv"]
for x in mylist:
    print(x)

aa
xx
ww
bb
vv

In [45]:
mylist = ["aa","xx","ww","bb","vv"]
for x in range(len(mylist)):
    print(mylist[x])

aa
xx
ww
bb
vv

In [47]:
mylist = ["aa","xx","ww","bb","vv"]
i = 0
while i<len(mylist):
    print(mylist[i])
    i = i+1

aa
xx
ww
bb
vv

In [149]:
mylist = ["aa","xx","ww","bb","vv"]
mylist.sort()

#mylist = (("aa","xx","ww","bb","vv")) #list constructor-list()
print(mylist)

('aa', 'xx', 'ww', 'bb', 'vv')

In [49]:
numlist = [100,55,99,12,13]
numlist.sort()
print(numlist)

[12, 13, 55, 99, 100]

In [52]:
numlist = [100,55,99,12,13]
numlist.sort(reverse = True)
print(numlist)

[100, 99, 55, 13, 12]

In [53]:
#case sensitive sorting
alist = ["chennai","bangalore","Hyderabad","Trivadrum","Delhi"]
alist.sort()
print(alist)

['Delhi', 'Hyderabad', 'Trivadrum', 'bangalore', 'chennai']

In [54]:
alist = ["chennai","bangalore","Hyderabad","Trivadrum","Delhi"]
alist.sort(key = str.lower)
print(alist)

['bangalore', 'chennai', 'Delhi', 'Hyderabad', 'Trivadrum']

In [56]:
alist = ["chennai","bangalore","Hyderabad","Trivadrum","Delhi"]
alist.reverse()
print(alist)

['Delhi', 'Trivadrum', 'Hyderabad', 'bangalore', 'chennai']

In [145]:
alist = ["chennai","bangalore","Hyderabad","Trivadrum","Delhi"]
#blist = list(alist)
#print(blist)
#print(type(alist))

alist = (("chennai","bangalore","Hyderabad","Trivadrum","Delhi"))

<class 'list'>

In [70]:
mytuple = ("jenny","selin","anju","anusree","jisha",1,2,True)
print(len(mytuple))

8

In [24]:
#converting tuple to list
x = ("jenny","selin","anju","anusree","jisha")
y = list(x)
print(y)

['jenny', 'selin', 'anju', 'anusree', 'jisha']

In [26]:
#converting list to tuple
#x = ["jenny","selin","anju","anusree","jisha"]
y= tuple(x)
print(y)

('jenny', 'selin', 'anju', 'anusree', 'jisha')

In [171]:
myset = {"jenny","selin","anju","anusree","jisha","selin",1,2,3}
set2 = {"Mala","pathananthitta","Thrissur","Tvm",1,2,4,3,"jenny"}
#set2.clear()
#x = set2.copy()
#print(x)
#print(set2)
#myset.remove("selin")
#myset.add("jj")

#for x in myset:
#    print(x)

#if "jenny" in myset:
#    print("jenny is present")

#myset.update(set2)        #joining sets by excluding dupliactes value

#myset.intersection_update(set2)    #returns items commom to both sets

#myset.symmetric_difference_update(set2)   #returns items not present in both sets

#myset.difference_update(set2)   #return items ny excluding the common items
#set3 = myset.union(set2)      #joining sets by excluding dupliactes value
#set3= myset.intersection(set2)    # returns a new set containg common items on the joined 2 sets
#set3 = myset.symmetric_difference(set2)  #returns a new set containing items not present in both sets
#set3 = myset.difference(set2)  # return set excluding the common items
#print(set3)

{'pathananthitta', 1, 2, 3, 4, 'Thrissur', 'Mala', 'jenny', 'Tvm'}

In [110]:
#dictionary
mydict = {
    "brand":"maruti",
    "model":"swift",
    "year":1993,
     "year":1}
#print(mydict["brand"])
#print(mydict.keys())
#print(mydict.values())
#mydict["model"] = "Celerio"
#mydict.update({"model":"Celerio"})
#mydict.clear()
#print(type(mydict))
#mydict.pop("brand")
#mydict.popitem() #remove last insert item
#del mydict["brand"]
#mydict["cost"]=1223
#print(mydict.get("year"))

#for x in mydict:
#    print(x)

#for x in mydict.values():
#   print(x)

#for x,y in mydict.items():
#    print(x ,y)

#mydict1 = dict(mydict)
#print(mydict1)

#mydict1 = mydict.copy()
#Wprint(mydict1)

In [94]:
a = """smsmddmmsmssssssss
        ssdddddddddddddddd
        ddffffffffvvggggg"""
print(a)

'a = """smsmddmmsmssssssss\n        ssdddddddddddddddd\n        ddffffffffvvggggg"""\nprint(a)'

In [115]:
a = "Hello,world"
#print(a[2:5])
#print(a[:5])
#print(a[5:])
#print(a.upper())
#print(a.lower())
print(a.replace("H","J"))

Jello,world

In [118]:
#concatination
a = "Hello"
b = "World"
c = a+' '+b
print(c)

Hello World

In [2]:
#Conditions

a=234
b=12234
if b>a:
    print("b is greater than a")

b is greater than a

In [17]:
#Conditions

a=20
b=12
if b>a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
   print("a is greater than b")

a is greater than b

In [28]:
#Nested condition
x = 41
if x > 10:
    print("above 10")
    if x >20:
        print("also above 20")
    else:
        print("but not above 20")

above 10
also above 20

In [29]:
#Nested loop
color = ["red","yellow","green"]
friuts = ["apple","orange","grapes"]
for x in color:
    for y in friuts:
        print(x,y)

red apple
red orange
red grapes
yellow apple
yellow orange
yellow grapes
green apple
green orange
green grapes

In [32]:
#Functions
def myfunction():
    print("Hello my world")
myfunction()

Hello my world